<div class="container">
  
  <div class="card">
    <h1>{{item.description}}</h1>
   
    <app-item-product [data]="item" (product)="addToCart($event)"></app-item-product>
</div>
</div>

<!--<div class="card">
    <img src= {{item.url}} alt="Denim Jeans"  routerLink="/products/{{item.id}}">
    <div class="details">
      <h1>{{item.name}}</h1>
      <h4>Description</h4>
      <p>{{item.description}}</p>
      <h4>Price</h4>
      <p class="price">{{item.price}} $</p>
    <select id="quantity" [(ngModel)]="amount">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
    <p><button (click)="addToCart(item)" >Add to Cart</button></p>
    <a routerLink="/">Back to products</a>
    </div>
    
  </div>-->
