

<div class="card">
    <img src= {{data.url}} alt="Denim Jeans"  routerLink="/products/{{data.id}}">
    <a routerLink="/products/{{data.id}}" ><button>{{data.name}}</button></a>
    <p class="price">{{data.price}} $</p>
    <select id="quantity" [(ngModel)]="amount">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
    <p><button (click)="add()" >Add to Cart</button></p>
  </div>
